<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007552296317-6fhcudo88gets58426o7gfpb486vkoha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007552296317-6fhcudo88gets58426o7gfpb486vkoha</string>
	<key>API_KEY</key>
	<string>AIzaSyCNR9jm4UhpeaRHrA5_BPyQUAd08QhhDYk</string>
	<key>GCM_SENDER_ID</key>
	<string>1007552296317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobiquest.vijayadairy</string>
	<key>PROJECT_ID</key>
	<string>vijaya-dairy</string>
	<key>STORAGE_BUCKET</key>
	<string>vijaya-dairy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007552296317:ios:8405b0fe48d1d8bcb6c814</string>
</dict>
</plist>